<mat-card appearance="fill">
    <mat-card-header>
        <mat-card-title><b>Endereço Encontrado:</b></mat-card-title>
    </mat-card-header>

    <mat-card-content>
       <b>CEP: </b> {{encontrarCEP?.cep}}<br><br>
       <b>Logradouro: </b> {{encontrarCEP?.logradouro}}<br><br>
       <b>Complemento: </b> {{encontrarCEP?.complemento}}<br><br>
       <b>Bairro: </b> {{encontrarCEP?.bairro}}<br><br>
       <b>Localidade: </b> {{encontrarCEP?.localidade}}<br><br>
       <b>UF: </b> {{encontrarCEP?.uf}}<br><br>
    </mat-card-content>
    
</mat-card>

